<!DOCTYPE html>
<html>
	  <head>
		  <meta http-equiv="Refresh" content="10; url={{.}}" />
      <title>Big Blue Button - Please Wait!</title>
      <style>
      div.retry {
          opacity: 0;

          animation: fadeIn 3s;
          animation-delay: 12s;
          animation-fill-mode: forwards;
      }

      @keyframes fadeIn {
          from { opacity: 0; }
          to { opacity: 1; }
      }
      </style>
	  </head>
	  <body>
      <h1>Please Wait!</h1>
      <p>The meeting you are trying to join is currently not available.</p>
      <p>We will try again in a couple of seconds...</p>
      <div class="retry">
        <h1>Still waiting?</h1>
        <p>You can <a href="{{.}}">{{.}}</a>try again here!</p>
      </div>
	  </body>
</html>
